<h1>Hannah Zicarelli</h1>
<div class="profile">
  <a href="hkz.jpg">
    <image alt="Picture of Hannah Zicarelli." src="hkz.jpg" class="shadow" />
  </a>
</div>
<p class="desc">
  <a href="https://umb-svl.gitlab.io/">Software Verification Lab</a>
  •
  <a href="https://www.cs.umb.edu/">Computer Science</a>
  at
  <a href="https://www.umb.edu/">UMB</a>
</p>
<p>
  I am a PhD student researching programming languages, advised by
  <a href="https://cogumbreiro.github.io/">Tiago Cogumbreiro</a>.  My
  research applies static analysis to quantify the performance cost of
  concurrency bugs in GPU programs.
</p>
<h2>Publications</h2>
<ul>
  <li>
    <strong>Verification of GPU Programs: Evaluation Challenges (Extended Abstract).</strong>
    Hannah Zicarelli and Tiago Cogumbreiro.
    In <em>PLACES</em>, 2022.
    <br />
    <a href="zicarelli.cogumbreiro_gpu-eval-challenges_slides.pdf">[ Slides ]</a>
    <a href="zicarelli.cogumbreiro_gpu-eval-challenges.pdf">[ PDF ]</a>
  </li>
  <li>
    <strong>Checking Data-Race Freedom of GPU Kernels, Compositionally.</strong>
    Tiago Cogumbreiro, Julien Lange, Dennis Liew Zhen Rong, and Hannah Zicarelli.
    In <em>CAV</em>, pages 403&ndash;426.
    Springer, 2021.
    <br />
    <a href="http://dx.doi.org/10.1007/978-3-030-81685-8_19">[ DOI ]</a>
    <a href="cogumbreiro-etal-faial_slides.pdf">[ Slides ]</a>
    <a href="https://doi.org/10.5281/zenodo.4711923">[ Artifact ]</a>
    <a href="cogumbreiro-etal-faial.pdf">[ PDF ]</a>
  </li>
</ul>
<h2>Contact</h2>
<p>
  Reach me by electronic mail at (rot13 "unaanu@mvpneryyv.qri") using
  GPG key <a href="gpg.asc">EAF77C5CC6A6E971</a> (expires 2024-01-10).
</p>
