@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

body {
  font-family: 'Spectral', serif;
	margin: auto;
	max-width: 80ch;
	padding: 1ch 2ch;
}

.desc { font-size: 0.875rem; }

a { color: #B509AC; text-decoration: none; }

a:hover { color: #B509AC; text-decoration: underline; }

a:hover:after { width: 100%; }

.profile img { width: 100%; }

.profile { margin-left: 1rem; width: 100%; float: right !important; }

@media (min-width: 576px) {
  .profile { width: 30%; }
}

img.shadow {
  border-radius: 4px;
  border-style: none;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}

footer {
  margin-top: 3rem !important;
  border-top: 1px solid #c4c4c4;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;
}

/*
@media(prefers-color-scheme: dark) {
  body { background-color: #303030; color: #ffffff; }

  a { color: #ff7f00; }
}
*/
